@media (max-width: 1200px) {
   .footer-top {
      justify-content: center;
   }

   .footer--instagram {
      width: 100%;
   }

   .footer--instagram img {
      width: 160px;
      height: 160px;
   }

   .footer--instagram-images {
      justify-content: center;
   }
}


@media (max-width: 992px) {
   .menu--btn {
      display: block;
   }

   .header--menu-list {
      display: none;
      position: absolute;
      top: 100px;
      right: 0;
      width: 20%;
      text-align: left;
      z-index: 15;
      background-color: #ccc;
   }

   .header--menu-item {
      display: block;

   }

   .header--menu-item + .header--menu-item {
      padding-left: 0;
   }

   .header--menu-item a {
      display: block;
      padding: 15px 0;
   }
}

@media (max-width: 768px) {

   .menu--quote:before,
   .menu--quote:after {
      display: none;
   }

   .menu--quote {
      padding-left: 15px;
      padding-right: 15px;
   }
}

@media (max-width: 580px) {
   .menu-block-info {
      padding: 30px 20px 50px 20px;
   }
}

@media (max-width: 480px) {
   .header--inner {
      flex-wrap: wrap;
   }

   .header--to-book {
      margin-left: 0;
      width: 100%;
      text-align: center;
      margin-top: 20px;
   }

   .menu-block-info {
      padding: 30px 20px 50px 20px;
   }

}

@media (max-width: 414px) {
   .top-title {
      font-size: 70px;
   }
}

@media(min-width: 992px) {
   .header--menu-list {
      display: block !important;
   }
}
