body {
       font-family: Arial, Helvetica, sans-serif;

}
a {
          text-decoration: none;
          color: black;
}
a:hover {
          color: aqua;

}
.page-title {
          text-align: center;
          text-transform: uppercase;
          letter-spacing: 2px;
}

.page-description {
          text-align: center;
          text-transform: uppercase;
          color: gray;
          font-size: 16px;
}

.news-container {
          margin-top: 100px;
}

.news-post {
          width: 800px;
}

.news-post-autor {
         font-size: 14px;
          color: aqua;
          font-weight: bold;
}

.news-post-date {
          font-size: 14px;
          color: bisque;
          font-weight: bold;
}

.news-post-title,
.news-post-text{
          border-left: 4px solid red;
          padding-left: 10px;
}

.news-post-img {
          max-width: 100%;
}
